@include font-face('Fira Sans Book', 'FiraSans-Book', 'normal', 400);

@include placeholder{
  color:$clr_text;
}
html,
button,
input,
select,
textarea{
  font-family:$font__family_main;
  &:focus{ outline:none; }

}
textarea{ resize:vertical }
button{ cursor:pointer }
a[href^="tel:"]{ border-bottom:0; color:inherit !important; text-decoration:none important; cursor:default; }
html{ box-sizing:border-box }
*, *:after, *:before{ box-sizing:inherit }
::-ms-clear, ::-ms-reveal{
  display:none;
}
figure{ margin:0 }
html, body{
  height:100%;
  margin:0;
  padding:0;
}
fieldset{ border:0; padding:0; margin:0 }
nav ul, nav ol{ margin:0; padding:0; list-style:none; }
a, .link{
  color:$clr_text;
  text-decoration:none;
  border-bottom:1px solid;
  transition:$trans;
  &:hover{ @extend .g-bbc_t }
}
img{ max-width:100% }
table{ border-spacing:0; border-collapse:collapse; }
th{ font-weight:inherit }

mark {
  &.error {
    background-color: transparent;
    color: $clr_error;
  }
}
