.b-collapse{
  cursor:pointer;
  margin:0;
  padding:nth($m_em, 2) nth($m_em, 4);
  @include box-decor(0, 1, 1);
  position:relative;
  z-index:1;
  & + &{
    margin-top:nth($m_em, 2);
  }

  &__head{
    position:relative;
    opacity:.6;
    transition:$trans;
  }
  &__content{
    margin-top:nth($m_em, 2);
    margin-left:0;
    font-size:0;
    transition:$trans;
    opacity:0;
  }
  &__name{
    @extend .h3;
    margin-bottom:0;
    padding-right:1.5em;
  }
  &__toggler{
    position:absolute;
    width:14px;
    height:14px;
    right:-2px;
    top:50%;
    transform:translateY(-50%);
    cursor:pointer;
    &:after,
    &:before{
      display:block;
      content:'';
      position:absolute;
      background-color:$clr_primary;
      transition:$trans;
    }
    &:after, &:before{
      top:6px;
      left:0;
      height:2px;
      width:100%;
    }
    &:before {
      transform:rotate(90deg)
    }

  }
  &.active{
    .b-collapse__head{
      opacity:1;
    }
    @include box-decor(1, 0, 1);
    z-index:2;

    .b-collapse__toggler{
      &:before{
        transform:rotate(0)
      }
    }
    .b-collapse__content{
      font-size:inherit;
      opacity:1;
    }
  }
  @include media($width_xs){
    padding:nth($m_em, 2) nth($m_em, 2);
  }
}