.footer{
  padding:nth($m_em, 1) 0;
  background-color:$clr_primary;
  position:relative;
  color:$clr_wh;

  @include media($width_xs, 1){


    &__text_phone {
      left:-2em;
    }
    &__text_pol {
      left:-5em;
    }
  }
  @include media($width_md, 1){
    min-height:58px;

    &__text_phone {
      left:-1em;
    }
    &__text_pol {
      left:-2em;
    }
  }

  &__addr{
    margin-bottom:1.5em;
  }

  &__copy{
    position:absolute;
    left:0;
    bottom:0;
  }

  &__text{
    font-size:$fs_025;
    margin-bottom:0;
    display:block;
    &_phone {
      z-index:5;
    }
  }
  @include media($width_xs){
    padding:nth($m_em, 3) 0 nth($m_em, 2);

    &__addr{
      font-size:$fs_05;
      display:block;
      margin-bottom:.5em;
    }
    &__copy.g-col{
      position:relative;
      padding-right:0;
    }
    &__text-xs{
      font-size:0.625em;
    }
  }

  &__redsoft{
    opacity:.5;
    a{ color:$clr_wh }

  }
}